<p-dialog header="Calls Per State" [modal]="true" position="center" [(visible)]="display" class="scroll"
  [style]="{'width':'65vW'}" [closable]="true" [draggable]="false" [resizable]="false" (onHide)="Close()">

  <p-table [value]="CallData" [paginator]="true" [rows]="7" [showCurrentPageReport]="true"
        responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">
          <tr>
            <th>State</th>
            <th>Call Count</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>{{customer.state}}</td>
            <td>{{customer.call_count}}</td>
          </tr>
        </ng-template>

      </p-table>
</p-dialog>
